@import url("https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css");

body {
  background-color: #000025;
  color: white;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.ui.secondary.pointing.menu .item {
  color: white;
}

.ui.secondary.pointing.menu a.item:hover {
  color: rgb(170, 170, 170);
}

.page-title{
  display: block !important;
  text-align: center;
  font-size: 2rem;
  margin-top: 10px;
}

.ui.form .field>label{
  color: white;
}

.form-container{
  width: 50%; 
  margin-left: auto;
  margin-right: auto;
}

.ui.blue.button:focus, ui.blue.buttons .button:focus{
  background-color: #2185d0;
}

@media only screen and (max-width: 600px) {
  .form-container{
    width: 75%;
  }
}