@import url("https://cdn.jsdelivr.net/npm/semantic-ui@2/dist/semantic.min.css");

body {
  background-color: #191919;
  color: white;
}

.ui.secondary.pointing.menu {
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.ui.secondary.pointing.menu .item {
  color: white;
}

.ui.secondary.pointing.menu a.item:hover {
  color: rgb(170, 170, 170);
}
